<div class="search--form mt-3">
    <form method="GET">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter your phone">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check-remember" name="remember">
            <label class="form-check-label" for="check-remember">Remember</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>